* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Starts */

.header-img {
    background-image: url('./images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 800px;

}

.banner {
    text-align: left;
    display: block;
}

.banner-title {
    padding-top: 100px;
    padding-left: 230px;
    padding-left: 845px;
    margin-bottom: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    width: 525px;
    height: 228px;
}

.banner-description {
    padding-left: 230px;
    padding-left: 875px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #151414;
    text-align: right;
    width: 494px;
    height: 78px;
}

.btn {
    text-align: center;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 26px;
    font-weight: 600;
    margin-bottom: 187px;
    margin-top: 32px;
    width: 160px;
    height: 64px;
    margin-left: 1210px;


}

.btn a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;

}

.banner-container {
    margin-bottom: 187px;
}



/* failures Section starts */

.failures-container {
    display: flex;
    align-items: center;
    width: 1072px;
    height: 723.3px;
    gap: 30px;

}

.image {
    width: 569px;
    height: 723.3px;
    margin-top: 130px;
    margin-right: 87px;
    margin-left: 206px;

}

.failure-content {
    margin-right: 322px;
    margin-top: 369px;
    margin-left: 87px;


}

.failure-title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failure-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    width: 416px;
    height: 70px;

}

.list {
    width: 349px;
    height: 100px;
    font-weight: 400;
    font-size: 16px;
}

.list p {
    margin-bottom: 8px;
}

.list i {
    margin-right: 10px;
}


/* My plans Starts */

.my-plans {
    margin-top: 150px;
}

.plans-container {
    display: flex;
    gap: 30px;
    margin-left: 320px;
    margin-right: 200px;

}

.my-plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
}

.plans-description {
    font-weight: 500;
    font-size: 25px;
    margin-top: 16px;
}

.plans {
    text-align: center;
}

/* Always keep a positive mindset starts */



.positive-img {
    background-image: linear-gradient(to right, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('./images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    border-radius: 5px;

}

.positive-banner {
    width: 459px;
    height: 182px;
    margin-left: 64px;
    margin-right: 617px;
    padding-top: 59px;
    margin-bottom: 59px;
}

.positive-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.positive-btn {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
}

.positive-btn a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #F15B22;
}


/* Footer Section Starts */

.footer-section {
    width: 1600px;
    height: 677px;
    background: #151414;
}

.footer-container {
    display: flex;
    color: #F3F3F3;
}

.future {
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
    width: 485px;
    height: 317px;
}

.future-title{
    margin-bottom: 16px;
    font-weight: 700;
font-size: 45px;
}

.future-description{
    font-weight: 400;
font-size: 16px;
margin-bottom: 24px;
}

.email-phone p{
    margin-bottom: 16px;
}

.footer-icons{
    margin-top: 32px;
    
}
.twitter{
   margin-left: 18px;

}
.youtube{
    margin-left: 18px;
}

.subscribe {
    width: 325px;
    height: 204px;
    margin-left: 331px;
    margin-right: 230px;
    margin-top: 130px;
    margin-bottom: 343px;
    font-weight: 600;
    font-size: 25px;
}

input {
    width: 325px;
    height: 64px;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    border-radius: 5px;
}

.subscribe-btn {
    width: 170.11px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    color: #F15B22;
}
